//Colors
$color-white:#fff;
$color-black:#000;
$color-primary:#232926;
$color-secondary:#73E0A9;
$color-gray-light-1:#f2f7f7;
$color-gray-light-2:#eee;
$color-gray-dark:#777;
$color-gray-dark-2:#999;

//Fonts
$default-font-size:1.5rem;

//Grid
$grid-width:112rem;
$gutter-vertical:4rem;
$gutter-horizontal:6rem;