
.btn_2{
    border-radius: 1rem;
    font-size: $default-font-size;
    padding: 1.5rem 4rem;
    &--white{
        color: $color-white;
        font-weight: 500;
        &:hover{
            color: $color-black;    
        }
    }
    
    &:active{
        
    }
  
}