.heading-secondary{
    &--1{
        font-size: 3rem;
        font-weight: 700;
        display: inline-block;    
    }
    &--2{
        font-size: 2rem;
        font-weight: 600;
        
    }
    &--3{
        font-size: 1.8rem;
        font-weight: 600;
    }
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0rem;
    transition: all .2s;
    // &:hover{
    //     transform: skewY(2deg) skewX(15deg) scale(1.1);
    //     text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    // }
    &--black{
        background-image: linear-gradient(
            to right,
             $color-primary 0%,
             $color-black 60%);
    }
    &--white{
        background-image: linear-gradient(
            to right,
             $color-gray-light-1,
             $color-white);
    }
}